MONGODB_URI=mongodb://127.0.0.1:27017/equipsense_ai
JWT_SECRET=change_this_to_a_long_random_secret_string
ML_SERVICE_URL=http://localhost:5001
PORT=4000
CLIENT_URL=http://localhost:5174
NODE_ENV=development
